/* .App {
  background-color: rgba(33, 33, 33, 0.98);
  color: #fff;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
} */
/* unvisited link */
a:link {
  color: rgb(120, 160, 236);
}

/* visited link */
a:visited {
  color: rgb(120, 160, 236);
}

/* mouse over link */
a:hover {
  color: rgb(74, 128, 228);
}

/* selected link */
a:active {
  color: rgb(120, 160, 236);
}